* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.productImage {
  width: 70px;
  height: 70px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.table-wrapper {
  width: 90vw;
}

.cart-img {
  width: 7rem;
  height: 7rem;
}

.productRow td {
  max-height: 4rem;
}

.table-responsive {
  overflow-x: auto;
}

.table th,
.table td {
  max-width: 200px;
}
