:root {
  --white: #ffffff;
  --blue: #757f8e;
  --bg: #3b3b3b;
  --button: #3b71ca;
  --car: #424242;
  --gray-300: #cdcdcd;
  --gray-400: #b4b4b4;
  --gray-500: #9b9b9b;
  --gray-600: #676767;
  --gray-700: #424242;
  --gray-750: #2f2f2f;
  --gray-800: #212121;
  --success: #28a745;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
}

.table-box {
  width: 90vw;
  height: 100vh;
  background-color: var(--white);
}

tr th {
  font-size: 1.3rem;
  text-align: center;
}
.bin {
  text-align: center;
}
.img-wrapper {
  padding: 0 !important;
  text-align: center;
}

tbody tr {
  width: 5rem;
}

.cart-img {
  width: 7rem;
  height: 7rem;
}

/* .productRow td {
  max-height: 4rem;
} */

.table-responsive {
  overflow-x: auto;
}

.table th,
.table td {
  min-width: 200px;
}

.order-button {
  width: 12rem;
  text-align: center;
}

.button-wrapper {
  text-align: center;
}
